<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-primary">
                <div class="card-block p-b-0">
                    <div class="btn-group pull-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-a-0" dropdownToggle>
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="m-b-0">3446</h4>
                    <p>Views</p>
                </div>
                <div class="chart-wrapper p-x-1" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels" [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend" [chartType]="lineChart1Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-info">
                <div class="card-block p-b-0">
                    <button type="button" class="btn btn-transparent p-a-0 pull-right">
                        <i class="icon-location-pin"></i>
                    </button>
                    <h4 class="m-b-0">973</h4>
                    <p>Orders</p>
                </div>
                <div class="chart-wrapper p-x-1" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels" [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend" [chartType]="lineChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-warning">
                <div class="card-block p-b-0">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-transparent dropdown-toggle p-a-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="m-b-0">35.2%</h4>
                    <p>Conversions</p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                    <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend" [chartType]="lineChart3Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card" >
                <div class="card-header card-header-inverse card-header-primary" style="height:153px">
                    <div class="font-weight-bold">
                        <span>Sales</span>
                        <span class="pull-right">$121 890.65</span>
                    </div>
                    <div>
                        <span>
                            <small>Nov 23</small>
                        </span>
                        <span class="pull-right">
                            <small>+432,50 (15,78%)</small>
                        </span>
                    </div>
                    <div class="chart-wrapper" style="height:38px;">
                        <canvas baseChart class="chart" [datasets]="lineChart4Data" [labels]="lineChart4Labels" [options]="lineChart4Options" [colors]="lineChart4Colours" [legend]="lineChart4Legend" [chartType]="lineChart4Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                    <div class="chart-wrapper" style="height:38px;">
                        <canvas baseChart class="chart" [datasets]="barChart2Data" [labels]="barChart2Labels" [options]="barChart2Options" [colors]="barChart2Colours" [legend]="barChart2Legend" [chartType]="barChart2Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="card-title m-b-0">Traffic</h4>
                    <div class="small text-muted">November 2015</div>
                </div>
                <div class="col-sm-6">
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" data-toggle="buttons" aria-label="First group">
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option1">Day
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="radio" name="options" id="option2" checked>Month
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option3">Year
                            </label>
                        </div>
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-primary"><i class="icon-cloud-download"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend" [chartType]="mainChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="card-footer">
            <ul>
                <li>
                    <div class="text-muted">Visits</div>
                    <strong>29.703 Users (40%)</strong>
                    <progress class="progress progress-xs progress-success" value="40" max="100">40%</progress>
                </li>
                <li class="hidden-xs-down">
                    <div class="text-muted">Unique</div>
                    <strong>24.093 Unique Users (20%)</strong>
                    <progress class="progress progress-xs progress-info" value="20" max="100">20%</progress>
                </li>
                <li>
                    <div class="text-muted">Pageviews</div>
                    <strong>78.706 Views (60%)</strong>
                    <progress class="progress progress-xs progress-warning" value="60" max="100">60%</progress>
                </li>
                <li class="hidden-xs-down">
                    <div class="text-muted">New Users</div>
                    <strong>22.123 Users (80%)</strong>
                    <progress class="progress progress-xs progress-danger" value="80" max="100">80%</progress>
                </li>
                <li class="hidden-xs-down">
                    <div class="text-muted">Bounce Rate</div>
                    <strong>40.15%</strong>
                    <progress class="progress progress-xs progress-primary" value="40" max="100">40%</progress>
                </li>
            </ul>
        </div>
    </div>
</div>
